* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------------ General Styles ------------ */
body {
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16px;
    min-width: 400px;
    width: 4%;
    height: auto;
    background-color: #FFFDE1;
    border: solid 4px #d9d9c1;
    border-end-start-radius: 8px;
}

input {
    padding-left: 10px;
    width: 90vw;
    border: solid 2px #3F9AAE;
    margin-bottom: 2vh;
    height: 40px;
    font-size: 20px;
    transition-property: all;
    transition-duration: 1ms;
    border-radius: 4px;
    background-color: #79C9C5;
    box-shadow: 6px 6px  10px -8px rgba(26, 26, 27, 0.5);
}

button {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    width: 10vw;
    min-width: 100px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    font-size: 1.25em;
}

/* ----------- End of General Styles ------------ */


/* --------------- Error Message Handler ------------------ */
.error {
    color: #e63946;
    font-size: 0.85rem;
    margin-top: 6px;
}

.warn {
    color: #e69839;
    font-size: 0.85rem;
    margin-top: 6px;
}

.hidden {
    display: none;
}

/* ------------------End of handler ------------------------ */

.buttons {
    margin-top: 0.5rem;
}

.save {
    background-color: #F96E5B;
    color: rgb(239, 230, 215);
    transition-property: all;
    transition-duration: 50ms;
    border-radius: 4px;
}

.save:hover {
    box-shadow: inset 0px 0px 5px 2px rgba(26, 26, 27, 0.5);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    border: solid 3px rgb(36, 27, 27);
}

.save:active {
    cursor: progress;
}

.delete {
    border: solid 3px #F96E5B;
    color: #F96E5B;
    background-color: #FFFDE1;
    transition-property: all;
    transition-duration: 50ms;
    border-radius: 4px;
}

.delete:hover {
    border-color: rgb(49, 47, 42);
    color: rgb(255, 255, 255);
    background-color: #F96E5B;
    border-radius: 6px;
}

.delete:active {
    cursor: progress;
}

ul {
    list-style-type: none;
    line-height: 120%;
    margin-top: 10px;
    margin-left: 2vw;
    font-size: 16px;
    font-weight: 400;
}

a:link {
    color: #F96E5B;
}

a:visited {
    color: #F96E5B;
}